.shopping-cart {
  flex: 0 1 25vw;
  margin: 1rem 1rem 0 0;
  padding: 0.5rem;
  border: 3px solid var(--alt-bg-color);
  background: var(--alt-bg-color);
  height: 50vh;
  position: relative;
  box-shadow: var(--shadow);
  display: grid;
  grid-template-rows: 3rem 1fr 3rem;
}

.shopping-cart-header {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--item-divider);
}

.shopping-cart-header .cart-title-text {
  text-transform: uppercase;
  font-size: 3vh;
}

.shopping-cart-header .cart-count {
  background-color: var(--primary);
  margin-left: 0.5rem;
  color: var(--alt-text-color);
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.shopping-cart .empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  padding: 0.5rem 0;
}

.shopping-cart .cart-container {
  overflow-y: scroll;
}

.shopping-cart .cart-item {
  display: grid;
  grid-template-columns: 1fr 4rem;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--item-divider);
  min-width: 100%;
}

.cart-item .item-description .title {
  white-space: break-spaces;
  font-size: medium;
  color: var(--main-text-color);
}

.cart-item .item-description .subtitle {
  white-space: nowrap;
  font-size: smaller;
  color: var(--primary);
}

.item-total {
  display: grid;
}

.item-total .item-price {
  justify-self: end;
}

.item-total .item-action {
  font-size: 3vh;
  color: var(--primary);
  justify-self: end;
  align-self: end;
}

.shopping-cart .cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--secondary);
}
