.shopping-cart {
  flex: 0 1 25vw;
  margin: 1rem 1rem 0 0;
  padding: 0.5rem;
  border: 3px solid var(--alt-bg-color);
  background: var(--alt-bg-color);
  max-height: 50vh;
  position: relative;
}

.shopping-cart-header {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--item-divider);
}

.shopping-cart-header .cart-title-text {
  text-transform: uppercase;
  font-size: 3vh;
}

.shopping-cart-header .cart-count {
  background-color: var(--primary);
  margin-left: 0.5rem;
  color: var(--alt-text-color);
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.shopping-cart .cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--item-divider);
}

.cart-item .title {
  font-size: medium;
  color: var(--main-text-color);
}

.cart-item .subtitle {
  font-size: smaller;
  color: var(--primary);
}

.shopping-cart .cart-total {
  position: absolute;
  bottom: 0.5rem;
  width: 23vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--secondary);
}
