.product-card {
  display: grid;
  grid-template-rows: 100px 1fr 56px;
  grid-row-gap: 10px;
  padding: 0.5rem;
  border: 3px solid var(--alt-bg-color);
  background: var(--alt-bg-color);
  box-shadow: var(--shadow);
}

.product-card .image-container {
  background: var(--main-bg-color);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card > .image-container > .product-image {
  padding: 0.25rem;
  display: block;
  position: relative;
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.product-card .card-content > .description {
  margin: 0.5rem 0 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product-card .card-content .description .title {
  white-space: break-spaces;
  flex: 1;
}

.product-card .card-content .product-card .price {
  flex: 1;
  white-space: nowrap;
}

.product-card .button-group {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.primary-button {
  padding: 0.5rem;
  text-align: center;
  color: var(--alt-text-color);
  background-color: var(--primary);
  border: none;
  width: 100%;
  height: 40px;
  text-transform: uppercase;
}

.primary-button:hover {
  color: var(--alt-text-color);
  background-color: var(--primary-hover);
  cursor: pointer;
}

.secondary-button {
  padding: 0.5rem;
  text-align: center;
  background-color: var(--secondary);
  border: none;
  width: 100%;
  height: 40px;
  text-transform: uppercase;
}

.secondary-button:hover {
  background-color: var(--secondary-hover);
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 20vh;
  left: 35vw;
  right: 30vw;
  bottom: 40vh;
  padding: 0.5rem;
  border: 3px solid var(--alt-bg-color);
  background: var(--alt-bg-color);
  box-shadow: var(--shadow);
  z-index: 4;
}

.modal .button-group {
  margin: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.primary-button-modal {
  padding: 0.5rem;
  text-align: center;
  color: var(--alt-text-color);
  background-color: var(--primary);
  border: none;
  height: 40px;
  text-transform: uppercase;
}

.primary-button-modal:hover {
  color: var(--alt-text-color);
  background-color: var(--primary-hover);
  cursor: pointer;
}

.primary-button-modal:disabled {
  color: var(--alt-text-color);
  background-color: var(--primary-disabled);
  cursor: not-allowed;
}

.secondary-button-modal {
  padding: 0.5rem;
  text-align: center;
  background-color: transparent;
  border: 1px solid var(--secondary);
  height: 40px;
  text-transform: uppercase;
}

.secondary-button-modal:hover {
  background-color: var(--secondary-hover);
  cursor: pointer;
}

.modal-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #29292925;
}
